@import "variables.css";

/****** General ***********/
.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: var(--font-title-section-size);
}

.card {
  background-color: white;
  border-radius: var(--border-radius);
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: var(--font-title-section-size);
}

.neutral-star {
  color: var(--main-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.bold {
  font-weight: var(--font-title-section-weight);
}
/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 25rem;
  padding-bottom: 2rem;
}

/* HEADER NAVBAR */
.header-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
  height: 10rem;
  width: 100%;
}

.header--logo {
  height: 1rem;
}
.header--nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.header--nav a:last-child {
  margin-left: 20px;
}

.header--nav-hover:hover,
.header--nav-hover.active {
  color: var(--main-color);
  text-decoration: overline var(--main-color);
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.125rem;
}

/* HEADER SECTION SEARCH */

.header-section-search {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1.5rem;
}

.header-section-search-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  background: white;
}

.search-bar-input {
  border: 1px solid var(--main-bg-color);
  border-right: none;
  font-size: var(--font-card-title-size);
  font-weight: var(--font-title-section-weight);
  padding: 0.9rem 1rem;
}

.search-bar-input::placeholder {
  color: black;
  text-align: center;
}

.search-bar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.97rem 1rem;
  color: black;
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.search-bar-button {
  background-color: var(--main-color);
  color: white;
  align-items: center;
  padding: 0.97rem 1rem;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.hide {
  display: block;
}

.show {
  display: none;
}
/* HEADER SECTION FILTERS */

.header-section-search-filter-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  background: white;
  gap: 1rem;
}

.filter-bar-container-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.filter-bar-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0rem 1.1875rem;
  border: 2px solid var(--main-bg-color);
  border-radius: var(--border-radius-filter);
  background: white;
}

.filter-bar-filter:hover {
  background: var(--filter-bg-color);
  cursor: pointer;
}

/* HEADER SECTION INFO BAR */

.header-section-search-info-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  width: 100%;
  background: white;
  gap: 0.5rem;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: var(--border-radius);
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
}
